*{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6,p{
    line-height: 0.8;
}

.container{
    width: 1146px;
    margin: 0 auto;
}
.sec_subtitle {
  font-size: 30px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  color: #000;
}
.sec_title {
  font-size: 55px;
  font-weight: 700;
  line-height: normal;
  color: #036e8a;
}
.paragraph {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  color: #fff;
}
/* ================================================= navbar start here =================================================== */


#navbar{
    display: flex;
    align-items: center;
    width: 100%;
    height: 59px;
    background: #fff;
    margin-top: 36px;
    position: absolute;
}

.nav-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-btn{
    display: flex;
    justify-content: flex-end;
    column-gap: 7.5px;
}

.menu ul{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.menu ul .menu-items a{
    color: #036E8A;
    text-transform: uppercase;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.nav-btn a img{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

.nav-btn a{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 22.5px;
    height: 22.5px;
    border: 1px solid rgba(3, 110, 138, 0.6);
    border-radius: 50%;
}


/* ================================================= navbar end here =================================================== */


/* ====================================================== banner start here ============================================================= */

#banner{
    height: 956px;
    background: url(../images/banner.webp) no-repeat center;
    background-size: cover;
}

#banner .banner-wrapper{
    top: 257px;
    left: 235px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.banner-wrapper .heading h1{
    text-align: left;
    width: 724px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 89px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-wrapper .details p{
    margin-top: 24px;
    width: 784px;
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 45px;
}

.banner-wrapper .form{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.banner-wrapper .form input{
    width: 429px;
    height: 61px;
    border: 0;
    font-size: 20px;
    color: #036E8A;
    background-color: #FFF;
    border-radius: 10px;
    padding-left: 96px;
}

.banner-wrapper .form input::placeholder{
    color: #036E8A;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.banner-wrapper .form a{
    display: inline-block;
    width: 58px;
    height: 58px;
    background-color: #FF8000;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin-left: 15px;
    padding-top: 13px;
}

.banner-wrapper .form .search{
    position: absolute;
    left: 23.5px;
}

/* ====================================================== banner end here ============================================================= */


/* ===========================================feature section start here ============================================================= */
#feature{
    margin-top: 147px;
    margin-bottom: 90px;
}

#feature .feature-wrapper{
    display: flex;
    justify-content: space-between;
}

#feature .feature-wrapper .features h3{
    color: #000;
    text-transform: uppercase;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 31px;
}

.feature-wrapper .features h2{
    color: #036E8A;
    text-transform: uppercase;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 30px;
}

.feature-wrapper .features p{
    width: 528px;
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#feature .best-offer{
    margin-top: 72px;
    width: 100%;
    height: 200px;
    border: 2px solid #036E8A;
    border-radius: 16px;
    padding: 54px 64px;
    display: flex;
    align-items: center;
    column-gap: 83px;
}

#feature .best-offer .location h3{
    color: #036E8A;
    text-transform: uppercase;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}

#feature .best-offer .bar{
    width: 4px;
    height: 96px;
    background:#FF8000;
}

#feature .best-offer .price h3{
    color: #000;
    text-transform: capitalize;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#feature .best-offer .price span{
    color: #036E8A;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#feature .best-offer .btn a{
    display: inline-block;
    text-align: center;
    background: #FF8000;
    padding: 17px 45px;
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 12px;
}
/* ===========================================feature section end here ============================================================= */

.heading{
    width: 840px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 90px;
}
.heading h2{
    color: #036E8A;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.heading p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.package {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}
.package .item{
    width: 32%;
    border: 2px solid #036E8A;
    padding: 36px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    position: relative;
}
.package .item h4{
    color: #036E8A;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
transition: .5s;
-webkit-transition: .5s;
-moz-transition: .5s;
-ms-transition: .5s;
-o-transition: .5s;
}
.package .item h5{
    color: #036E8A;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.package .item p{
    color: #036E8A;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 40px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.package .item:hover h4{
    color: #FF8000;
}
.package .item:hover h5{
    color: #FF8000;
}
.package .item:hover p{
    color: #FF8000;
}
.package .item ul li i{
    color: #036E8A;
    margin-right: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.package .item:hover ul li i{
    color: #FF8000;
}

.package .item ul li{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 15px;
}

.package .item .package-btn{
    position: absolute;
    bottom: -114px;
    left: 72px;
}

.package .item .package-btn button{
    width: 200px;
    height: 60px;
    background: #036E8A;
    color: white;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 16px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.package .item:hover .package-btn button{
    background: #FF8000;
}
.package .item .package-btn p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* ====================== Package css end ======================*/
/* ======== Destination2 start here ======== */
#destination2 {
  padding: 70px 0;
  background-color: #036e8a;
}
.destination2_wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 999;
}
.destination2_img {
  width: 508px;
  height: 523px;
  border-radius: 10px;
  overflow: hidden;
}
.destination2_img img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.destination2_details {
  height: 200px;
  width: 566px;
}
.destination2_details .sec_subtitle {
  color: #fff;
}
.destination2_details .sec_title {
  color: #fff;
  margin-top: 33px;
  margin-bottom: 30px;
}
.destination2_shape {
  position: relative;
}
.destination2_shape img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
}
/* ======== Destination2 end here ======== */
.gallery{
    display: flex;
    gap: 16px;
}
.gallery .gallery-main .gallery-one{
    width: 275px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 10px;
    position: relative;
}
.gallery .gallery-main .gallery-one .overlay{
    position: absolute;
    left: 30px;
    bottom: 30px;
}
.gallery .gallery-main .gallery-one .overlay h6{
    color: #707070;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gallery .gallery-main .gallery-one .overlay p{
    color: #707070;

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.gallery .gallery-main .gallery-two{
    width: 275px;
    height: 266px;
    background: #e08787;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
/* ====================== most css end ======================*/
#counter{
    background: url(../images/counter.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 100px 0;
}
.counter{
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}
.counter .counter-item{
    width: 20%;
}
.counter .counter-item h5{
    color: #707070;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.counter .counter-item p{
    color: #707070;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* ====================== counter css end ======================*/
/* ======== Newsletter start here ======== */
#newsletter {
  padding: 100px 0 130px 0;
  position: relative;
  z-index: 555;
}
.newsletter_gal {
  display: flex;
  gap: 23px;
  margin-bottom: 20px;
}
.newsletter_item {
  width: 275px;
  height: 240px;
  border-radius: 25px;
  overflow: hidden;
}
.newsletter_item:last-child {
  width: 850px;
}
.newsletter_box {
  display: flex;
  justify-content: space-between;
}
.newsletter_box_img {
  width: 514px;
  height: 482px;
  overflow: hidden;
  border-radius: 25px;
}
.newsletter_box_form {
  width: 566px;
}
.newsletter_box_form .sec_subtitle {
  color: #036e8a;
  padding-top: 80px;
  padding-bottom: 30px;
}
.newsletter_form {
  margin-top: 46px;
  display: flex;
  justify-content: space-between;
}
.newsletter_group {
  position: relative;
}
.newsletter_group input {
  border: 1px solid #157791;
  padding: 28px 63px 28px 108px;
  border-radius: 17px;
  color: #036e8a;
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  width: 340px;
}
.newsletter_group i {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(200%, -50%);
  color: #157791;
  font-size: 27px;
}
.newsletter_group input::placeholder {
  color: #036e8a;
}
.newsletter_form button {
  background-color: #ff8000;
  border-radius: 15px;
  border: 1px solid #ff8000;
  padding: 22px 40px;
  font-size: 30px;
  font-weight: 700;
  line-height: normal;
  color: #fff;
}
/* ======== Newsletter end here ======== */

/* ======== Brand start here ======== */
#brand {
  padding-bottom: 120px;
  position: relative;
  z-index: 555;
}
.brand_wraper {
  border: 3px solid #036e8a;
  border-radius: 8px;
  padding: 70px;
  display: flex;
  justify-content: space-between;
}
.brand_item {
  display: flex;
  align-items: center;
  position: relative;
}
.brand_item::after {
  position: absolute;
  content: '';
  right: -63px;
  top: 50%;
  transform: translateY(-50%);
  height: 73px;
  width: 3px;
  background-color: #036e8a;
  border-radius: 5px;
}
.brand_item:last-child::after {
  background: transparent;
}
/* ======== Brand end here ======== */

/* ======== Review start here ======== */
#review {
  padding-bottom: 155px;
}
#review .sec_title {
  text-align: center;
  font-size: 60px;
  margin-bottom: 23px;
}
.review_heading .paragraph {
  color: #000;
  max-width: 830px;
  text-align: center;
  margin: 0 auto;
}
.review_wraper {
  margin-top: 111px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 77px;
}
.review_item {
  width: 538px;
  height: 400px;
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 59px;
  -webkit-box-shadow: -4px 0px 17px -4px rgba(0, 0, 0, 0.21);
  -moz-box-shadow: -4px 0px 17px -4px rgba(0, 0, 0, 0.21);
  box-shadow: -4px 0px 17px -4px rgba(0, 0, 0, 0.21);
  transition: all linear 0.3s;
}
.review_item .review_img {
  border: 1px solid #707070;
  height: 113px;
  width: 113px;
  border-radius: 50%;
  background-color: #ff8000;
  overflow: hidden;
  margin: 0 auto;
}
.review_img img {
  height: inherit;
  width: inherit;
  object-fit: cover;
}
.review_details {
  margin-top: 26px;
}
.review_details h4 {
  color: #036e8a;
  font-size: 25px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.review_details h5 {
  color: #262525;
  font-size: 20px;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.review_rating {
  margin: 8px 0 20px 0;
  color: #ff8000;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
}
.review_details .paragraph {
  color: #000;
  text-align: center;
}
.review_item:nth-child(odd):hover {
  background-color: #036e8a;
}
.review_item:nth-child(odd):hover h4,
.review_item:nth-child(odd):hover h5,
.review_item:nth-child(odd):hover .review_rating,
.review_item:nth-child(odd):hover .review_details .paragraph {
  color: #fff;
}
.review_item:nth-child(even):hover {
  background-color: #ff8000;
}
.review_item:nth-child(even):hover h4,
.review_item:nth-child(even):hover h5,
.review_item:nth-child(even):hover .review_rating,
.review_item:nth-child(even):hover .review_details .paragraph {
  color: #fff;
}
.review_shape {
  position: relative;
}
.review_shape img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -70%;
}
.review_container {
  position: relative;
  z-index: 555;
}
/* ======== Review end here ======== */

/* =========================================== question start here ============================================================= */
.question-wrapper{
    height: 653px;
    background: url(../images/Group\ 116.webp) no-repeat center;
    background-size: cover;
    padding-top: 84px;
    margin-bottom: 120px;
}

.question-wrapper .questions{
    text-align: center;
}

.question-wrapper .questions h2{
    color: #FFF;
    text-transform: capitalize;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 61px;
}

.question-wrapper .questions .bar1{
    width: 778px;
    height: 4px;
    background: #FFFFFF;
    margin: 0 auto;
}

.question-wrapper .questions p{
    width: 661px;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 75px auto 59px auto;
}

.question-wrapper .questions .bar2{
    width: 411px;
    height: 3px;
    background: #FFFFFF;
    margin: 0 auto;
}

.question-wrapper .questions a{
    display: inline-block;
    margin-top: 44px;
    padding: 21px 67px;
    color: #FFF;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    background: #FF8000;
    border-radius: 16px;
}
/* =========================================== question end here ============================================================= */


/* =========================================== links start here ============================================================= */
.link-wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 73.5px;
}

.link-wrapper .item h4{
    color: #036E8A;
    text-transform: uppercase;
    font-size: 24.917px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 32.5px;
}

.link-wrapper .item .bar{
    width: 142px;
    height: 2px;
    background: #036E8A;
    margin-bottom: 36.5px;
}

.link-wrapper .item ul li a{
    display: inline-block;
    color: #262525;
    text-transform: capitalize;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 25px;
}
/* =========================================== links end here ============================================================= */


/* =========================================== footer start here ============================================================= */
#footer{
    width: 100%;
    height: 113px;
    background: #FF8000;
    display: flex;
    align-items: center;
}

.footer-wrapper{
    display: flex;
    justify-content: space-between;
}

.footer-wrapper p{
    color: #FFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-wrapper .buttons{
    display: flex;
    justify-content: center;
    align-self: center;
    column-gap: 9.5px;
}

.footer-wrapper .buttons a{
    display: inline-block;
    width: 28px;
    height: 28px;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
}
/* =========================================== footer end here ============================================================= */